# Class Series: One-dimensional array. A column in a table.

In [31]:
# importing libraries
import pandas as pd
import numpy as np

In [43]:
# way 1: create an object using a python list.
list1 = [ 211, 410, 67, np.nan, 83, 1300, 122, np.nan, 194, 116, 410, 44, 500]
list2 = [ 33, 16, 99, 172, 151, 168, 231, 284, 27, 30]

scores = pd.Series(list1)
scores2 = pd.Series(list2)
scores2

0     33
1     16
2     99
3    172
4    151
5    168
6    231
7    284
8     27
9     30
dtype: int64

In [44]:
# way 2: create an object using a python dictionary.
dict = {'m1': 12, 'm4': 222, 'm6': 34}
s3 = pd.Series(dict)
s3

m1     12
m4    222
m6     34
dtype: int64

# Series attributes(data fields)

In [34]:
# What is the data type of the series rows
scores.dtype

# print out the series index
scores.index

# get the name of the series
scores.name

# Change the name of the series to 'Scores'
scores.name = 'Scores'

# get the name of the series after it has been updated
scores.name

# get the size of the series
scores.size

# print out all of the rows in the series as an array
scores.values

array([ 211.,  410.,   67.,   nan,   83., 1300.,  122.,   nan,  194.,
        116.,  410.,   44.,  500.])

In [54]:
scores.values

array([ 211.,  410.,   67.,   nan,   83., 1300.,  122.,   nan,  194.,
        116.,  410.,   44.,  500.])

# Series methods(functions)

In [35]:
# Get the first 7 rows in the series using the function 'head()'
scores.head(7)

# Get the last 4 rows in the series using the function 'tail()'
scores.tail(4)

# Get the count of non-null rows in the series using the function 'count()'
scores.count()

# get the sum, mean, and median of the series elements
value_sum = scores.sum()
value_mean = scores.mean()
value_median = scores.median()

In [59]:
value_sum = scores.sum()
value_mean = scores.mean()
value_median = scores.median()
print(value_sum, value_mean, value_median)

3457.0 314.27272727272725 194.0

In [39]:
# print out descriptive statistics of the series
scores.describe()


# check which rows are null and which are not, then count the null values up
scores.isnull().sum()

# drop the null values from the original series
scores = scores.dropna()

# check which rows are duplicated, then count them up
scores.duplicated().sum()

# drop the duplicated rows from the original series
scores = scores.drop_duplicates()

# first, we have to reset the index of scores after we'd eliminated null and duplicate rows
scores.reset_index(inplace=True, drop=True)

# # add/subtract/divide/muliply the elements in scores with the elements in scores2 and store the new series in a variable
added_series = scores + scores2

In [74]:
scores = scores.dropna()
scores

scores.duplicated().sum()

scores = scores.drop_duplicates()
scores

# scores.reset_index(inplace=True, drop=True)

print(scores, scores2)
added_series = scores + scores2
sub_series = scores - scores2

sub_series

0     211.0
1     410.0
2      67.0
3      83.0
4    1300.0
5     122.0
6     194.0
7     116.0
8      44.0
9     500.0
Name: Scores, dtype: float64 0     33
1     16
2     99
3    172
4    151
5    168
6    231
7    284
8     27
9     30
dtype: int64

0     178.0
1     394.0
2     -32.0
3     -89.0
4    1149.0
5     -46.0
6     -37.0
7    -168.0
8      17.0
9     470.0
dtype: float64