# Series: One-dimensional. A column in a table.

In [4]:
# importing libraries
import pandas as pd
import numpy as np

In [8]:
# way 1: using a python list.
list1 = [ 211, 410, 67, np.nan, 83, 1300, 122, np.nan, 194, 116, 410, 44, 500]
list2 = [ 33, 16, 99, 172, 151, 168, 231, 284, 27, 30]

0     33
1     16
2     99
3    172
4    151
5    168
6    231
7    284
8     27
9     30
dtype: int64

In [9]:
# way 2: using a python dictionary.
dict = {'m1': 12, 'm4': 222, 'm6': 34}

m1     12
m4    222
m6     34
dtype: int64

# Series attributes

In [17]:
# What is the data type of the series rows
score.dtype

# print out the series index

# for x in score.index:
#     print(x)

# get the name of the series
score.name

# Change the name of the series to 'Scores'

score.name = 'Scores'

# get the name of the series after it has been updated

score.name


# get the size of the series

score.size

# print out all of the rows in the series as an array

score.values

array([ 211.,  410.,   67.,   nan,   83., 1300.,  122.,   nan,  194.,
        116.,  410.,   44.,  500.])

# Series methods: methods in the class Series have been defined already, all we need to do is to call(use) them on our Series.

In [23]:
# Get the first 7 rows in the series using the method 'head()'
score.head(7)


# Get the last 4 rows in the series using the method 'tail()'

score.tail(4)

# Get the count of non-null rows in the series using the method 'count()'

score.count()

# get the sum, mean, and median of the series elements
value_sum = score.sum()
value_median = score.median()

value_mean = score.mean()

print(value_sum, value_mean, value_median)

3457.0 314.27272727272725 194.0

In [39]:
# print out descriptive statistics of the series
score.describe()

# check which rows are null and which are not, then count the null values up
score.isnull().sum()

# drop the null values from the original series without creating a copyb


score.dropna(inplace=True)
score
# check which rows are duplicated, then count them up

score.duplicated().sum()


# drop the duplicated rows from the original series without creating a copy

score.drop_duplicates(inplace=True)
score

# first, we have to reset the index of scores after we'd eliminated null and duplicate rows

score.reset_index(inplace=True, drop=True)
score
# add/subtract/divide/muliply the elements in scores with the elements in scores_extra and store the new series in a variable

added_series = score - score_extra
added_series

0     178.0
1     394.0
2     -32.0
3     -89.0
4    1149.0
5     -46.0
6     -37.0
7    -168.0
8      17.0
9     470.0
dtype: float64