# In this project we will perform:
### Data collection -> Data cleaning -> Data exploration  -> Data analysis-> Data visualization

                                                    Data collected from Kaggle.com

In [1]:
# import required libraries.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# read the CSV files into DataFrames.
df_basic_data = pd.read_csv("data/car_basic_data.csv")
df_engine_data = pd.read_csv("data/car_engine_data.csv")

In [3]:
# Take a quick look at both dataframes
df_basic_data.head()

,car_ID,CarName,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,price
0,1,alfa-romero giulia,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,13495.0
1,2,alfa-romero stelvio,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,16500.0
2,3,alfa-romero Quadrifoglio,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,16500.0
3,4,audi 100 ls,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,13950.0
4,5,audi 100ls,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,17450.0

In [4]:
df_engine_data.head()

,car_ID,enginetype,fueltype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,1,dohc,gas,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
1,2,dohc,gas,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
2,3,ohcv,gas,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26
3,4,ohc,gas,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30
4,5,ohc,gas,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22

In [5]:
# Get the dataType of the df_basic_data DataFrame columns.

In [6]:
# Count non-NA cells for each column in the df_engine_data DataFrame

In [7]:
# Get the number of rows and columns in the df_basic_data DataFrame

In [8]:
# Get the number of rows and columns in the df_engine_data DataFrame

In [9]:
# Get the number of duplicated rows in the df_basic_data DataFrame

In [10]:
# drop the duplicate rows(from the original df_basic_data dataframe copy) and then confirm that they have been eliminated

In [11]:
# Get the number of duplicated rows in the df_engine_data DataFrame

In [12]:
# drop the duplicate rows(from the original df_engine_data dataframe copy) and then confirm that they have been eliminated

In [13]:
# split 'CarName' column into 'make' and 'model'

# change the column names in the resulting dataframe to make and model instead of 0 and 1

# confirm that the columns have been renamed

In [14]:
# drop the CarName column from the original dataframe copy

In [15]:
# print the shape of df_basic_data and splitted_carName dataframes

In [16]:
# merge df_basic_data and splitted_carName dataframes

In [17]:
# print out the df_basic_data columns as a python list[]

In [18]:
# reorder the columns such that the make and model columns are right after the car_ID column

In [19]:
# confirm that the columns have been reordered

In [20]:
# take a look at the df_engine_data dataframe

In [21]:
# merge the df_basic_data and df_engine_data dataframes on a common column

In [22]:
# get descriptive stats about the merged dataframe and store the resulting dataframe in a new variable(desc_stats)

In [23]:
#Series map method
# 2 -> 4
# 5 -> 25
# 7 -> 49

def mapper(x):
    temp = x+2
    return temp

s = pd.Series([2,3,4])
s = s.map(mapper)
# s
#-------------------------------------

s2 = pd.Series(['orange', 'apple'])
mapper_dict = {'orange':'orange juice', 'apple':'apple pie'}
s2 = s2.map(mapper_dict)
# s2

In [24]:
# string format method
format_pattern = "{:.4f}"
format_num = format_pattern.format(2.234)

# print(format_num)

In [25]:
# change the number format for the price column to two decimal places and add a $ sign before each value

In [26]:
# loop through the columns in the desc_stats dataframe and change the number format to only one decimal place


#

In [27]:
# confirm that the formatting have been applied

In [28]:
# display a histogram for each column in the df_basic_and_engine dataframe

In [29]:
# group the cars in the df_basic_and_engine dataframe by both the make&model and apply the count method

In [30]:
# get the 'make', 'model', and 'price' columns and sort the resulting df by the price column


# drop the duplicates

#confirm the changes have been applied by printing out the first 50 rows

In [31]:
# get the number of unique values for each column in df_basic_and_engine and store the results in a variable for each

In [32]:
#check if all the unique makes are spelled correctly

In [33]:
#isolate any makes with a wrong name using the loc property and correct the value

In [34]:
# confirm that the changes have been applied

In [35]:
# create a pie chart of the different carbodys

In [36]:
# create box plots for all columns in one graph

In [37]:
# create a box plot for only the price column

In [38]:
# create a box plot for only the enginesize column

In [39]:
# create a bar chart for each make against its mean(average) price

In [40]:
# generate a correlation matrix for all the columns in the df_basic_and_engine dataframe